*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	background: lightgrey;
	-webkit-app-region: drag;
}

div {
	text-align: center;
	font-family: calibri;
	color: black;
}

.row {
	height: 12%;
	padding: 15px 20px;
}

.coloumn {
	
}


#grid{
	 border:0; margin:0 auto; outline:0; padding:0; vertical-align:top;
	 }

.grid-item {
	outline:0;	border:1px solid transparent;
/*	outline:1px solid transparent;	border:1px solid transparent;*/
	text-align:center;	vertical-align:middle;
	}

#content: {
	display: flex;
	height: 1rem;
	flex-direction: column;
	align-items: center;
	color: grey;	
	min-height: 100vh;
}

.title {
	padding: 10px 20px;
	font-size: 40px;
	color: white;
}

.option {
	padding: 10px 20px; 
	font-size: 40px;
	cursor: pointer;
	color: white;
	-webkit-app-region: no-drag;
}

.option:hover {
	background: red;
}



div#mainContent {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background: #00BCD4;
}



div#content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}